**© Jesús López**

Ask him any doubt on **[Twitter](https://twitter.com/jsulopzs)** or **[LinkedIn](https://linkedin.com/in/jsulopzs)**

## Chapter Importance

Machine Learning models learn a mathematical equation from historical data.

Not all Machine Learning models predict the same way; some models are better than others.

We measure how good a model is by calculating its score (accuracy).

So far, we have calculated the model's score using the same data to fit (train) the mathematical equation. That's cheating. That's overfitting.

This tutorial compares 3 different models:

- Decision Tree
- Logistic Regression
- Support Vector Machines

We validate the models in 2 different ways:

1. Using the same data during training
2. Using 30% of the data; not used during training

To demonstrate how the selection of the best model changes if we are to validate the model with data not used during training.

For example, the image below shows the best model, when using the same data for validation, is the Decision Tree (0.86 of accuracy). Nevertheless, everything changes when the model is evaluated with data not used during training; the best model is the Logistic Regression (0.85 of accuracy). Whereas the Decision Tree only gets up to 0.80 of accuracy.


![df_comp.jpeg](https://cdn.hashnode.com/res/hashnode/image/upload/v1661356658503/xtMfk_S0n.jpeg align="left")

Were we a bank whose losses rank up to 1M USD due to 0.01 fail in accuracy, we would have lost 5M USD. This is something that happens in real life.

In short, banks are interested in good models to predict new potential customers. Not historical customers who have already gotten a loan and the bank knows if they were good to pay or not.

This tutorial shows you how to implement the `train_test_split` technique to reduce overfitting with a practical use case where we want to classify whether a person used the Internet or not.

## [ ] Load the Data

Load the dataset from [CIS](https://www.cis.es/cis/opencms/ES/index.html), executing the following lines of code:

In [1]:
import pandas as pd #!

df_internet = pd.read_excel('https://github.com/jsulopzs/data/blob/main/internet_usage_spain.xlsx?raw=true', sheet_name=1, index_col=0)
df_internet

           internet_usage     sex  age    education
name
Josefina                0  Female   66   Elementary
Vicki                   1    Male   72   Elementary
David                   1    Male   48   University
Curtis                  0    Male   59          PhD
Josephine               1  Female   44          PhD
...                   ...     ...  ...          ...
Frances                 1    Male   43   Elementary
Harry                   1  Female   18  High School
Adam                    0  Female   54   Elementary
Christine               1    Male   31  High School
Pepe                    0    Male   52   Elementary

[2455 rows x 4 columns]

- The goal of this dataset is
- To predict `internet_usage` of **people** (rows)
- Based on their **socio-demographical characteristics** (columns)

## Preprocess the Data

### Missing Data

In [2]:
df_internet.isnull().sum()

internet_usage    0
sex               0
age               0
education         0
dtype: int64

### Dummy Variables

In [3]:
df_internet = pd.get_dummies(df_internet,drop_first=True)

## Feature Selection

In [6]:
target = df_internet['internet_usage']
features = df_internet.drop(columns = 'internet_usage')

## [ ] Build & Compare Models' Scores

We should already know that the Machine Learning procedure is the same all the time:
1. Computing a mathematical equation: **fit**
2. To calculate predictions: **predict**
3. And compare them to reality: **score**

The only element that changes is the `Class()` that contains lines of code of a specific algorithm (DecisionTreeClassifier, SVC, LogisticRegression).

### `DecisionTreeClassifier()` Model in Python

In [24]:
from sklearn.tree import DecisionTreeClassifier

model_dt = DecisionTreeClassifier()

model_dt.fit(X= features,y=target)

model_dt.score(X= features,y=target)

0.859877800407332

### `SVC()` Model in Python

In [23]:
from sklearn.svm import SVC

model_sv = SVC()

model_sv.fit(X= features,y=target)

model_sv.score(X= features,y=target)

0.7837067209775967

### `LogisticRegression()` Model in Python

In [22]:
from sklearn.linear_model import LogisticRegression

model_lr = LogisticRegression()

model_lr.fit(X= features,y=target)

model_lr.score(X= features,y=target)

/Applications/miniconda3/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.8325865580448065

## [ ] Function to Automate Lines of Code

- We repeated all the time the same code:

```Python
model.fit()
model.score()
```

- Why not turn the lines into a `function()` to **automate the process**?

```Python
calculate_accuracy(model_dt)
calculate_accuracy(model_sv)
calculate_accuracy(model_lr)
```

- To calculate the `accuracy`

### Make a Procedure Sample for `DecisionTreeClassifier()`

### Automate the Procedure into a `function()`

**Code Thinking**

1. Think of the functions `result`
2. Store that `object` to a variable
3. `return` the `result` at the end
4. **Indent the body** of the function to the right
5. `def`ine the `function():`
6. Think of what's gonna change when you execute the function with `different models`
7. Locate the **`variable` that you will change**
8. Turn it into the `parameter` of the `function()`

In [32]:
def best_score(model):
    model.fit(X= features,y=target)
    result = model.score(X= features,y=target)
    return result

## Calculate Models' Accuracies

### `DecisionTreeClassifier()` Accuracy

In [33]:
best_score(model_dt)

0.859877800407332

### `SVC()` Accuracy

In [35]:
best_score(model_sv)

0.7837067209775967

### `LogisticRegression()` Accuracy

In [36]:
best_score(model_lr)

/Applications/miniconda3/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.8325865580448065

## Which is the Best Model?

## [ ] University Access Exams Analogy

Let's **imagine**:

1. You have a `math exam` on Saturday
2. Today is Monday
3. You want to **calibrate your level in case you need to study more** for the math exam
4. How do you calibrate your `math level`?
5. Well, you've got **100 questions `X` with 100 solutions `y`** from past years exams
6. You may study the 100 questions with 100 solutions `fit(100questions, 100solutions)`
7. Then, you may do a `mock exam` with the 100 questions `predict(100questions)`
8. And compare `your_100solutions` with the `real_100solutions`
9. You've got **90/100 correct answers** `accuracy` in the mock exam
10. You think you are **prepared for the maths exam**
11. And when you do **the real exam on Saturday, the mark is 40/100**
12. Why? How could we have prevented this?
13. **Solution**: separate the 100 questions into `70 for train` to study & `30 for test` for the mock exam.

## `train_test_split()` the Data

In [37]:
from sklearn.model_selection import train_test_split

In [45]:
 X_train, X_test, y_train, y_test = train_test_split(
     features, target, test_size=0.33, random_state=42)

In [40]:
df_internet

,internet_usage,age,sex_Male,education_High School,education_Higher Level,education_No studies,education_PhD,education_University
name,,,,,,,,
Josefina,0,66,0,0,0,0,0,0
Vicki,1,72,1,0,0,0,0,0
David,1,48,1,0,0,0,0,1
Curtis,0,59,1,0,0,0,1,0
Josephine,1,44,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...
Frances,1,43,1,0,0,0,0,0
Harry,1,18,0,1,0,0,0,0
Adam,0,54,0,0,0,0,0,0
Christine,1,31,1,1,0,0,0,0
Pepe,0,52,1,0,0,0,0,0

In [46]:
X_train

,age,sex_Male,education_High School,education_Higher Level,education_No studies,education_PhD,education_University
name,,,,,,,
Alice,66,0,0,0,0,0,0
Richard,63,1,0,0,0,0,0
Richard,25,1,0,0,0,0,0
John,82,1,0,0,0,0,0
Daniel,36,1,0,0,0,0,0
...,...,...,...,...,...,...,...
Raymond,37,0,1,0,0,0,0
Antonio,35,0,0,1,0,0,0
Alma,58,0,0,0,0,0,0
Corey,52,0,0,0,0,0,0
Robert,46,0,0,0,0,0,0

In [48]:
X_test

,age,sex_Male,education_High School,education_Higher Level,education_No studies,education_PhD,education_University
name,,,,,,,
Thomas,52,0,0,0,0,0,0
Pedro,48,1,0,1,0,0,0
Walter,53,0,0,0,0,1,0
Pamela,43,1,0,0,0,0,1
Ernest,43,1,0,1,0,0,0
...,...,...,...,...,...,...,...
Donna,59,1,0,0,1,0,0
Dennis,37,1,0,1,0,0,0
Ricky,33,0,1,0,0,0,0
James,18,1,1,0,0,0,0
Phyllis,62,0,0,0,0,0,0

### `fit()` the model with Train Data

In [54]:
model_dt.fit(X=X_train,y=y_train)

DecisionTreeClassifier()

### Compare the predictions with the real data

In [55]:
model_dt.score(X=X_test,y=y_test)

0.8064118372379778

## [ ] Optimize All Models & Compare Again

### Make a Procedure Sample for `DecisionTreeClassifier()`

### Automate the Procedure into a `function()`

**Code Thinking**

1. Think of the functions `result`
2. Store that `object` to a variable
3. `return` the `result` at the end
4. **Indent the body** of the function to the right
5. `def`ine the `function():`
6. Think of what's gonna change when you execute the function with `different models`
7. Locate the **`variable` that you will change**
8. Turn it into the `parameter` of the `function()`

In [62]:
def best_score_test(model):
    model.fit(X=X_train,y=y_train)
    result = model.score(X=X_test,y=y_test)
    return result

## Calculate Models' Accuracies

### `DecisionTreeClassifier()` Accuracy

In [63]:
best_score_test(model_dt)

0.8064118372379778

### `SVC()` Accuracy

In [64]:
best_score_test(model_sv)

0.7866831072749692

### `LogisticRegression()` Accuracy

In [65]:
best_score_test(model_lr)

0.8508014796547472

In [74]:
accuracy = pd.DataFrame()

In [75]:
accuracy

Empty DataFrame
Columns: []
Index: []

In [77]:
accuracy['models'] = [model_dt,model_lr,model_sv]

In [80]:
accuracy['same_data']=accuracy.models.apply(best_score)

/Applications/miniconda3/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [82]:
accuracy['test_data'] = accuracy.models.apply(best_score_test)

In [83]:
accuracy

                     models  same_data  test_data
0  DecisionTreeClassifier()   0.859878   0.806412
1      LogisticRegression()   0.832587   0.850801
2                     SVC()   0.783707   0.786683

In [84]:
accuracy.style.background_gradient()

## [ ] Which is the Best Model with `train_test_split()`?

Logistic Regression